block variables
doctype html
html(lang='en')
  head
    include head.pug
    meta(name='description', content=title)
    script(type='module', src=url_script)
    title #{ title } - Lern
    link(rel='icon', type='image/svg+xml', href='svg/favicon.min.svg')
  body
    noscript ERROR: JavaScript is disabled.
    block content
