body cite {
  font-style: unset;
}

body .bron {
  font-size: 1.2rem;
}

body #bibliography {
  display: flex;
  flex-direction: column;
}

body .csl-entry {
  display: flex;
  justify-content: left;
}

@media screen and (prefers-reduced-motion: no-preference) {
  body details[open] > summary ~ * {
    animation: grabattention 0.5s ease-in-out;
  }

  body .csl-entry:target {
    animation: grabattention 1s;
  }

  /* TODO: use animate.css */
  @keyframes grabattention {
    0% {
      transform: scale(1);
    }

    25% {
      transform: skew(90deg) scale(1.5);
    }

    50% {
      transform: skew(180deg) scale(2);
    }

    75% {
      transform: skew(90deg) scale(1.5);
    }

    100% {
      transform: scale(1);
    }
  }
}

body .csl-entry:target {
  color: rgb(var(--color-3));
  font-weight: bold;
}

body .csl-entry > * {
  width: fit-content;
}

body .csl-left-margin {
  align-self: flex-start;
  flex-shrink: 0;
  padding-right: 20px;
}

body .csl-right-inline {
  align-self: flex-start;
}
